
{% extends "index.html" %}

{% block content %}
<h2>Customers</h2>
<p>This page records the details of Customers who have purchased or inquired about fences.</p>
<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Previous Purchases</th>
    <th></th>
  </tr>
  {% for customer in customers %}
  <tr>
    <td>{{ customer.Name }}</td>
    <td>{{ customer.Phone }}</td>
    <td>{{ customer.Email }}</td>
    <td>{{ customer.Address }}</td>
    <td>{{ customer.PreviousPurchases }}</td>
    <td>
        <form action="/customers/delete" method="POST">
            <input type="hidden" name="CustomerID" value="{{ customer.CustomerID }}">
            <input type="submit" value="Delete">
        </form>
    </td>
  </tr>
  {% endfor %}
</table>

<h3>Add a New Customer</h3>
<form action="/customers" method="POST">
  <table>
      <tr>
          <th><label for="name">Name</label></th>
          <th><label for="phone">Phone</label></th>
          <th><label for="email">Email</label></th>
          <th><label for="address">Address</label></th>
          <th><label for="previousPurchases">Previous Purchases</label></th>
          <th></th> <!-- Empty header cell for the submit button -->
      </tr>
      <tr>
          <td><input type="text" id="name" name="name" required></td>
          <td><input type="text" id="phone" name="phone" required></td>
          <td><input type="email" id="email" name="email" required></td>
          <td><input type="text" id="address" name="address" required></td>
          <td><input type="number" id="previousPurchases" name="previousPurchases" min="0" required></td>
          <td>
              <input type="hidden" name="Add Customer" value="True">
              <input type="submit" value="Add Customer">
          </td>
      </tr>
  </table>
</form>
{% endblock %}

